.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.swp
*.tmp
*.env
*.egg-info/
dist/
build/
*.egg
coverage/
htmlcov/
*.coverage
.coverage.*
pytest_cache/
.mypy_cache/
.pytest_cache/